<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stick me</title>
    <style>
        @charset "UTF-8";
        html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
        dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
        table,caption,tbody,tfoot,thead,tr,th,td, button {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            vertical-align: baseline;
            font: 13pt 'PT Sans', Georgia, sans-serif;
        }
        .header{
            background: #52657b;
            height: 80px;
            position: fixed;
            top: 0;
            z-index: 3;
            width: 100%;
            min-width: 850px;
        }
        footer{
            display: block;
        }
        .base{
            min-height: 100%;
            margin-bottom: 25px;
            min-width: 850px;
        }
        .r{
            margin-bottom: 8px;
            text-align: right;
            font-size: 10pt;
            margin-right: 16px;
        }
        .content{
            padding-top: 110px;
            align-items: flex-start;
            display: flex;
        }
        .result{
            position: relative;
            width: calc(100% - 566px);
            margin-top: -30px;
            margin-left: 32px;
            background: #b1b1b1;
            height: 2000px;
        }
        .side{
            padding-top: 40px;
            background: #F5F5F5;
            position: static;
            height: 975px;
            flex: 0 0 532px;
        }


    </style>
    <script>

    </script>

</head>
<body>
    <div class="header"></div>
    <div class="base">
        <div class="content">
            <div class="result">
                result
            </div>
            <div class="side">
                side<br>
                1<br>
                2<br>
                3<br>
                4<br>
                5<br>
                6<br>
                7<br>
                8<br>
                9<br>
                0<br>
                1<br>
                2<br>
                3<br>
                4<br>
                5<br>
                6<br>
                7<br>
                <br><br><br><br><br><br>
                8<br>


            </div>
        </div>
    </div>
    <footer>
        <div class="r">
            Компания <br>
            2020 гг.
        </div>
    </footer>
</body>
<script type="module" src="script.js"></script>
</html>







