ul {
    padding: 0.7rem 0 0 1rem;
    margin-bottom: 1rem;
    border-left: 2px solid black;
    list-style: none;
}

li {
    padding-top: 0.7rem;
}

details {
    display: inline;
}

details[open] > summary {
    background-color: #1f1f1f;
    color: #dfdfdf;
}

.result {
    overflow-y: scroll;
    margin-top: auto;

    /* background-color: red !important; */
}

.side {
    position: sticky;
    top: 0;
}

.content {
    padding-top: 80px;
    flex-direction: row;
}